.options_list{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}
.button{
    width: 70px;
    height: 30px;
    background: rgb(206, 147, 147);;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}
.button:hover,
.botton:focus{
    background: rgb(231, 231, 231);
    border: 1px solid rgb(206, 147, 147);
    cursor: pointer;
}